
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}RiotApi{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>

    {% include 'navbar.html' %}
    {% include 'messages.html' %}
    <div class="mt-5">
        {% block content %}
        {% endblock %}
    </div>
    
    <script src="{% static 'vendor/jquery/jquery-3.6.3.min.js' %}" type="text/javascript"></script>  
    <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}" type="text/javascript"></script>  
    <script src="{% static 'js/base.js' %}" type="text/javascript"></script>  
</body>
</html>