.messages {
    width: auto!important;
    min-width: 300px;
    position: fixed;
    top: 100px;
    right: 10px;
 }

body {
    background-image: url("../img/background/background.jpg");
    background-color: #363636;
}